{% extends 'base.html' %}
{% block body %}
<style>
    body{
        background-color:#ebf0ee;
        
    }
.card{
    background-color:#e6e3dc;
    
}</style>
<div class="container my-3" >
    <div class="row" >

        {% for bud in Applicants %} 
   
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4;" >

            <div class="card" style="width: 18rem; margin-bottom:20px; ">
                <div class="card-body">
                    <img style="border-radius: 50%; height: 100px;width:100px; margin-left:60px;;  " src="{{bud.ApplyingTo.dplink}}" alt="" srcset="">
                    <h5 class="card-title">{{bud.ApplyingTo.companyname}}</h5>
                    <p class="card-text">{{bud.ApplyingTo.jTitle}}</p>
                    <p class="card-text">{{bud.ApplyingTo.location}}</p>
                    <p class="card-text">{{bud.ApplyingTo.expectedSalary}}</p>
                    <a class="btn btn-info" id="demo" href="/chat/{{bud.ApplyingTo.name}}">Message</a>
                </div>
            </div>
        </div>    
  
{% endfor %}

</div>

</div>
{% endblock %}
