{% extends 'base.html' %}
{% block body %}
<style>
  body{
    background-color:#d5d9e0;
  }
</style>
<div class="container my-3">
  <div class="row">
    <div class="col-sm">


      
     {% if root %}
     <img src={{cus}}
        alt="">
        <a href="{% url 'uploaddp' %}" style="margin-left: 100px;">upload new dp</a>
        
        {% else %}
     <img src={{user.dplink}}
        alt="">
        
        {% endif %}
    </div>
    <div class="col-sm">
      <br>
      <h3>{{user}}<br></h3>
      <br>
      <h5>{{user.email}}<br></h5>
      <br>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          {% if tests%}
          {% for test in tests%}
          <h6 class="card-title">{{test.Intrest}} => {{test.category}} <i class="material-icons md-18">verified</i>
          </h6>
          <br>
          {% endfor %}
          {% else %}
          <h6>You have never applied in any Tests</h6>
          {% endif %}
        </div>
      </div>
    </div>
    
    {% if root %}
    <div class="col-sm">
      <a class="btn btn-outline-dark" href="/apply" style="
      margin-bottom: 10px;  ">Apply For Jobs</a><br>
      <a class="btn btn-outline-dark" href="friendlist" style="
      margin-bottom: 10px;  ">View Your Friends</a><br>
      <a class="btn btn-outline-dark" href="confirmedjobs" style="
      margin-bottom: 10px;  ">Confirmed Jobs </a><br>
      <a href="{% url 'requestlist' %}" class="btn btn-outline-dark" style="
      margin-bottom: 10px;  ">Check connection requests</a><br>
    </div>

  </div>

  <div class="row">
    <div class="col-sm">
      <br>
      <br>
      <h3>Find Buddies</h3>
      {% for test in tests%}
      <a class="btn btn-outline-dark" href="buddylist/{{test.Intrest}}" style="
      margin-bottom: 10px;  
      margin-right: 10px;" >Find your Buddies in {{test.Intrest}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <br>
      <br>
      <h3>Re-Appear for Test</h3>
      {% for option in options %}
    <a class="btn btn-outline-dark" href="retest/{{option.choice}}"  style="
    margin-bottom: 10px;  
    margin-right: 20px;">{{option.choice}}</a>
    {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
<footer class="site-footer" style="background-color:black">
  <div class="container" >
    <div class="row">
      <div class="col-sm-12 col-md-6" style="margin-top: 30px;">
        <h6 style="color:white">About</h6>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12" style="margin-left:14%; margin-top:55px">
        
         <a href="https://www.facebook.com/alphonse.prakash.1"><img style="width: 40px; height:40px;" src="https://img.icons8.com/doodle/48/000000/facebook-new.png"/></a>
          
         <a href="https://github.com/Alphonse-03/codebuddy"><img style="width: 40px; height:40px;" src="https://img.icons8.com/fluent/48/000000/github.png"/></a>
          <a  href="https://www.linkedin.com/in/alphonse-prakash-493b2a190/"><img style="width: 40px; height:40px;" src="https://img.icons8.com/doodle/48/000000/linkedin-circled.png"/></a>   
       
      </div>
      <p style="color:white" class="text-justify">Codebuddy.com is an initiative to help people come from different backgrounds and skillsets to get social and code in a group and grow not as an individual but as a team. This initiative will inculcate the spirit of group work and will promote self-taught developers to get a peer support for free. We have lot of Startups hiring for young talent where you can just apply with a single tap so it's no hassle to go through the tedious task of applying. So what are you thinking Sign up Today and get social with like-minded people. </p>

     
    </div>
    <hr>
  </div>
</div>
</div>
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-8 col-sm-6 col-xs-12"> -->
        <p style="text-align:center;color:white">Copyright &copy; 2021 All Rights Reserved by CodeBuddy
 
        </p>
      <!-- </div> -->

     
    

</footer>

{% endblock %}
































<!-- 
<div class="container my-3">
  <a href="{% url 'requestlist' %}" class="btn btn-outline-success">Check connection requests</a><br>
    {{user}}<br>
      {{user.email}}<br>
   {% for test in tests%}
   {{test.Intrest}}:::{{test.category}}<br>

   {% endfor %}
   {% for test in tests%}
  
   <a class="btn btn-outline-dark" href="buddylist/{{test.Intrest}}">Find your Buddies in {{test.Intrest}}</a><br>
   {% endfor %}
   <a class="btn btn-outline-dark" href="friendlist">View Your Friends</a><br>
    appear for requestlist:
    {% for option in options %}
    <a class="btn btn-outline-dark" href="retest/{{option.choice}}">{{option.choice}}</a><br>
    {% endfor %}
    <a class="btn btn-outline-dark" href="/apply">Apply For Jobs</a><br>

</div>
  
 -->