{% extends 'base.html' %}
{% block body %}
<div class="container my-3">
  <a href="{% url 'requestlist' %}" class="btn btn-outline-success">Check connection requests</a><br>
    {{user}}<br>
      {{user.email}}<br>
   {% for test in tests%}
   {{test.Intrest}}:::{{test.category}}<br>

   {% endfor %}
   {% for test in tests%}
  
   <a class="btn btn-outline-dark" href="buddylist/{{test.Intrest}}">Find your Buddies in {{test.Intrest}}</a><br>
   {% endfor %}
   <a class="btn btn-outline-dark" href="friendlist">View Your Friends</a><br>
    appear for requestlist:
    {% for option in options %}
    <a class="btn btn-outline-dark" href="retest/{{option.choice}}">{{option.choice}}</a><br>
    {% endfor %}
    <a class="btn btn-outline-dark" href="/apply">Apply For Jobs</a><br>

</div>
  
  {% endblock %}
