{% extends 'base.html' %}
{% block body %}
<style>
 
    .card{
        background: rgb(235, 228, 228);
        height: 100%;
        margin-top: 30px;
    }
</style>
<div class="container">
    <div class="card">
    Company Name:{{job.companyname}}<br>
    Job Title:{{job.jTitle}}<br>
    Location:{{job.location}}<br>
    Job Discription:{{job.jobDescription|safe}} <br>
    Expected Salary:{{job.expectedSalary}}<br>
    {{res}}
    {% if res %}
    <a class="btn btn-outline-danger" href="/viewdetailreject/{{job.id}}">Not Intrested anymore</a><br>
    {% else %}
    <div style="display: inline; text-align:center">
        <a class="btn btn-outline-danger" href="/notintrested/{{job.id}}">Not Intrested anymore</a><br>
    
</div>
    {% endif %}
</div>
</div>
{% endblock %}

